@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

.card {
  background-color: hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 15px;
  width: 360px;
}

.image {
  position: relative;
}

.image .view-icon {
  position: absolute;
  width: 3.5rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.image img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  color: #fff;
  margin: 1rem 0;
  font-size: 1.55rem;
}

p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 1rem 0;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.info .price {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
  font-weight: 600;
}

.info .price img {
  margin-right: 8px;
}

.info .time-left {
  color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
}

.info .time-left img {
  margin-right: 8px;
}

.author {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.author img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 1rem;
}

.author span {
  color: #fff;
}

footer {
  margin-top: 1rem;
  color: #fff;
}

@media (min-width: 1440px) {
  .image:hover {
    display: inline-block;
    background-color: hsl(178, 100%, 50%);
    border-radius: 11px;
    height: 312px;
    cursor: pointer;
  }

  .image:hover .nft-image {
    opacity: 50%;
  }

  .image:hover .view-icon {
    z-index: 10;
  }
}
